.test {
  font-size: 2rem;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: olive; */
  overflow-y: scroll;
  padding: 4rem 0;
}

.video_player,
.video_place_holder {
  width: 85%;
  height: 75%;
  background-color: black;
  /* object-fit: fill; */
}
