.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}

.title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
  letter-spacing: 1px;
}

.image {
  width: 100%;
  height: auto;
}
