.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}

.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
  margin: 1rem;
}

.info_container {
  padding: 1rem 1.5rem;
}

.author_info:nth-child(1) {
  font-size: 1.5rem;
  font-style: italic;
}
.author_info:nth-child(2) {
  font-size: 1.5rem;
}

.title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
  letter-spacing: 1px;
}

.image {
  width: 100%;
  height: auto;
}
