.pdf_displayer {
  width: 100%;
  height: 100vh;
}

.side_nav_container {
  width: 70%;
  height: 100%;

  background-color: var(--accent-color);

  position: relative;
}

.close_button_container {
  position: absolute;
  z-index: 100;
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  border-radius: 1rem 0 0 1rem;

  top: 1rem;
  transform: translateX(-100%);
}

.close_button {
  font-size: 5rem;

  font-size: 2rem;

  cursor: pointer;
}
@media (max-width: 1024px) {
  .side_nav_container {
    display: none;
  }
}
