:root {
  --primary-color: var(#0077b6);
  --secondary-color: var(#10a510);
  --accent-color: var(#eff3f9);
  --neutral-color: var(#ffff);

  --font_color: var(#000000);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font_color);

  background-color: var(--accent-color);
}

a {
  color: inherit;
  text-decoration: none;
}
