.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 7rem 0;
}

.heading {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.text {
  font-size: 1.55rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.85;
  text-align: justify;
}

.text2 {
  font-size: 1.55rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.85;
}

.flex {
  display: flex;

  justify-content: space-evenly;
  align-items: flex-start;
  column-gap: 5rem;

  margin-bottom: 2rem;
}

.c1,
.c2 {
  /* background-color: var(--accent-color); */
  border-radius: 1rem;
}

.c1 {
  width: 70%;
  padding: 2rem;
}

.c2 {
  /* background-color: var(--accent-color); */
  background-color: #208344;

  color: white;

  width: 30%;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.section_2 {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid_item {
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  display: flex;
  flex-direction: column;

  row-gap: 1rem;
  font-size: 1.55rem;
}

.grid_item > h2 {
  font-size: 2.1rem;

  font-weight: bold;
  margin-bottom: 2rem;
}

.grid_item_sub_heading {
  font-size: 1.25rem;
  letter-spacing: 0.3rem;
  color: gray;
  font-weight: 700;
}

.info {
  font-size: 1.7rem;
  margin: 1rem 0;
  font-weight: 600;
}

/* summary section was desktop 1st approach so here im fixing it for rest of them */
@media (max-width: 768px) {
  .flex {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .heading {
    font-size: 2.1rem;
  }

  .c1 {
    width: 100%;
  }

  .c2 {
    margin: 0 auto;
    width: 95%;
  }
}

/* rest is mobile 1st  */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
