.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.heading {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.65rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.9;
  padding-right: 5rem;
}
