.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 0 5.5rem;
  font-size: 1.4rem;
  /* background-color: aqua; */
}

.navbarMenu {
  /* background-color: red; */
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 1.9rem;
}

.navbarMenu li {
  margin-left: 1rem;
  text-decoration: none;
  /* background-color: var(--accent-color); */
  padding: 1rem;
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;
}

.navbarMenu li:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav_right_container {
  /* background-color: pink; */
  display: flex;

  align-items: center;
  column-gap: 3rem;
}

.user_container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  /* this determines the entire navbar top padding
  cause the padding is given by the padding of the user_container */
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.user_container:hover {
  background-color: var(--primary-color);
  color: white;
}

.user_image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color);
}

.user_name {
  font-size: 1.5rem;
}
