.main_container {
  display: flex;

  min-height: 100vh;
}

.side_bar_container {
  flex: 1;
  background-color: var(--accent-color);
  /* background-color: white; */
  padding: 10rem 3rem;

  height: 100vh;
  overflow-y: scroll;
  width: 23%;
}

.main_content_container {
  width: 77%;
}

.section_name,
.dvd_name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  /* color: var(--unimportant_font_color); */
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  margin-top: 1rem;
}

.dvd_container {
  border-radius: 0.5rem;
  /* background-color: var(--accent-color); */
  margin: 2.5rem 0 2.5rem 0;
  cursor: pointer;
}

.dvd_name {
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0.5rem;
}

.video_name {
  font-size: 1.41rem;

  line-height: 1.35;
  flex: 5;
}

/* video name and icon container */
.video_name_icon_container {
  display: flex;
  padding: 0.5rem 0;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-left: 0.5rem solid transparent;
  color: #616060;
}
.video_name_icon_container:hover {
  border-left: 0.5rem solid var(--primary-color);
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  color: black;
}

.play_icon {
  flex: 1;
  font-size: 2.5rem;
}

.test {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .side_bar_container {
    width: 0%;
    transform: translateX(-100%);
    opacity: 0;
  }
  .side_bar_container_open {
    width: 100%;
    transform: translate(0);
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out; /* Vendor prefix for WebKit (Safari, Chrome) */
    -moz-transition: all 0.5s ease-in-out; /* Vendor prefix for Mozilla (Firefox) */
    -ms-transition: all 0.5s ease-in-out; /* Vendor prefix for Microsoft (Internet Explorer) */
    -o-transition: all 0.5s ease-in-out; /* Vendor prefix for Opera */
    transition: all 0.5s ease-in-out; /* Standard transition */
  }

  .side_bar_container_close {
    width: 0;
    transform: translateX(-100%);
    opacity: 0;

    -webkit-transition: all 0.5s ease-in-out; /* Vendor prefix for WebKit (Safari, Chrome) */
    -moz-transition: all 0.5s ease-in-out; /* Vendor prefix for Mozilla (Firefox) */
    -ms-transition: all 0.5s ease-in-out; /* Vendor prefix for Microsoft (Internet Explorer) */
    -o-transition: all 0.5s ease-in-out; /* Vendor prefix for Opera */
    transition: all 0.5s ease-in-out; /* Standard transition */
  }
}
