.container {
  max-width: 120rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 2rem auto;
}

.course_image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
