.container {
  max-width: 120rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}

.image_container {
  width: 50%;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  object-fit: contain;
}
