.notification {
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 9999;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background-color: red;
  font-size: 5rem;
}
