.notification {
  display: flex;

  align-items: center;
  column-gap: 1rem;
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 9999;
  width: 100%;
  max-width: 25rem;

  transition: all 0.3s ease;
  /* background-color: var(--primary-color); */

  font-size: 1.9rem;
  padding: 2rem;
  border: 1px solid var(--primary-color);
}
